<h1>Thème de la formation</h1>

<div><%= lecture.category %></div>

<div class="card-description">
  <img src="XXX" alt="image de présentation du formateur">
  <h2>Prénom</h2> <h2>Nom</h2>

    <div><h2>Que saurez-vous faire à l'issue de cette formation ? </h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi tempore illo eos expedita ea quo ipsa dolore repudiandae voluptatem aut ipsam deserunt ex, mollitia quam nemo sunt dicta corrupti quia!</p>
    </div>
</div>

<div class="card-description">
  <div>
    <h2> A qui s'adresse cette formation ?</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>

  <div>
    <h2> Que faut-il pour accéder à la formation ?</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>

<div class="card-description">
  <h2>En clair, qu'allons nous voir ?</h2>
  <ul>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
  </ul>
</div>

<div class="card-description">
  <h2>Nous utiliserons divers moyens pour y parvenir !</h2>
  <ul>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
    <li>Objectif Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
  </ul>
</div>

<div class="card-description">
  <h2>Voici le déroulé de votre formation :</h2>

  <h3>Titre cours 1</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima illo, eum harum tempora inventore numquam animi, itaque voluptatibus vitae reprehenderit aspernatur! Veritatis aliquid officia commodi qui officiis nobis voluptates.</p>

  <h3>Titre cours 2</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas natus rem ipsam aliquam ipsum fugit ducimus eligendi officia consequuntur commodi quidem consectetur possimus quibusdam, cumque nobis. Labore quos asperiores fugit?</p>

  <h3>Titre cours 3</h3>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor labore earum dolores quod, aperiam, molestias at, quisquam illum eveniet ex cumque in minima omnis rem cupiditate a nemo voluptates rerum?</p>
</div>

<div class="card-description">

  <h2>Vérifions ce que vous avez retenu !</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti officiis dolorem fuga at officia doloribus repudiandae natus, dolore facere deleniti non accusantium nostrum, iure saepe quia velit nihil expedita ducimus!</p>
</div>

<div>
<%= lecture.price %>
</div>
