<div class="footer" style="background-color: #389480">
  <div class="footer-infos">
    <a href="https://fr.lipsum.com/">A propos</a>
    <a href="https://fr.lipsum.com/">Contacts</i></a>
  </div>
  <div class="footer-thanks">
    Nous sommes contents de vous voir !
  </div>
</div>
