.banner-home {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  margin-bottom: 25px;
  h1 {
    text-align: center;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  h5 {
    text-align: center;
    padding-top: 20px;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  .input-banner {
    text-align: center;
    width: 15%;
  }
  .btn {
    margin-top: 20px;
    color: #5b8671;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    &:hover {
      opacity: 0.5;
    }
    a {
      font-weight: bold;
    }
  }
}


.banner-show {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  margin-bottom: 25px;
  h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: bold;
  }
  p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

  .banner-lecture {
  background-size: cover;
  background-color: #389480;
  background-position: center;
  padding: 50px 0;
  margin-bottom: 25px;
  h1 {
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
  font-weight: bold;
  }
  p {
  font-size: 16px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
