.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    color: white;
    text-decoration-line: none;
    &:hover {
      color: yellow;
    }
  }
}

// --------------------------------------------------

.card-lecture {
  border-radius: 5px;
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  img {
  height: 100%;
  width: 180px;
  object-fit: cover;
  }
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  }
}
.card-lecture-infos {
  padding: 16px;
}

.card-description {
  border-radius: 5px;
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  margin: 15px;

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  }
  p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: justify;
  }
}
