.card-category {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  a {
    color: white;
    text-decoration-line: none;
    &:hover {
      color: yellow;
    }
  }
}

// --------------------------------------------------

.card-lecture {
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 150px;
    width: 100%;
    object-fit: fill;
  }
  h2 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #0d4b02;
  }
  a {
    font-weight: bold;
    opacity: 0.8;
    color: rgb(46, 45, 45);
    &:hover {
      opacity: 1;
    }
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    margin: 5px;
  }
   h6 {
    text-align: end;
    color: rgb(66, 66, 66);
  }
  .card-lecture-infos {
    padding: 10px;
  }
  .card-lecture-price {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
}
// --------------------------------------------------------

.card-description {
  margin-top: 50px;
  border-radius: 5px;
  overflow: hidden;
  height: 180px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  margin: 15px;

  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  }
  p {
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: justify;
  }
}

.details-card {
  flex-grow: 1;
}

.card-panier {
  height: auto;
  width: 200px;
  background-color: #49aa97;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  position: sticky;
  top: 50px;
  h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  li {
    font-size: 12px;
    text-align: right;
  }
  a {
    color: rgb(46, 45, 45);
    font-size: 12px;
    text-align: center;
    padding: 10px;
    background-color: rgb(228, 228, 238);
    border-radius: 5px;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}
