.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to right, rgb(231, 231, 233), white);
  h2 {
    padding-left: 50px;
    color: #389480;
  }
  a {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  p {
    padding-top: 5%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.377);
    margin-right: 10px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbarDropdown {
  opacity: 0.3;
  &:hover {
    opacity: 0.8;
  }
}
