.btn-flat {
  margin: 10px;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  &:hover {
  background: #1BCB7F;
  color: white;
  }
}

.btn-infos {
  font-size: 8px;
  text-align: center;
  width: 75px;
  height: 75px;
  margin: 10px;
  color: white;
  padding: 8px 24px;
  border-radius: 50%;
  background: #1EDD88;
  transition: background 0.3s ease;
  &:hover {
  background: #1BCB7F;
  color: white;
  }
}
